

<!--
  <select >
<li class="list-group-item"><i class="fa fa-phone float-right"></i>role : {{role?.name}}</li>
  </select>-->


 <!-- <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Role
    </button>-->
 <!--   <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a *ngFor="let role of rolelist" class="dropdown-item" value="choose = role.name" >{{role.name}}</a>

    </div>-->
<!--
    <select  >
      <option *ngFor="let role of rolelist"  class="dropdown-item" > {{role.name}} </option>

    </select>
-->

<!--  </div>-->


<!--
<input [ngModel]="bar" (ngModelChange)="modelChangeFn($event)">
<p>{{ bar }}</p>
-->


